{% set seed = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] | random %}

<div class="blog-card admonition quote">
  <div class="blog-image-container">
    <a
      href="{{ blog.url | url }}"
      title="{{ blog.title | striptags }}"
      class=""
    >
      <img
        class="blog-image"
        src="https://source.unsplash.com/800x450/?nature,water?sig={{seed}}"
      />
    </a>
  </div>
  <div class="blog-card-content">
    <h2>
      <a
        href="{{ blog.url | url }}"
        title="{{ blog.title | striptags }}"
        class=""
        >{{ blog.title }}</a
      >
    </h2>

    <p>
      <a
        href="{{ blog.url | url }}"
        title="{{ blog.title | striptags }}"
        class=""
      >
        {{ blog.meta.description }}
      </a>
    </p>
    <p class="blog-card-date">{{ blog.meta.date_published }}</p>
  </div>
</div>
