.md-nav--primary .md-nav__title[for="__drawer"],
.md-nav__source {
  background-color: hsla(209, 23%, 48%, 1);
}

.md-header,
.md-tabs {
  background-color: transparent;
}

/* Fix for links in API tables - Don't line break code links within tables */
.md-content table code {
  word-break: normal;
}

/* Pull heading closer to the logo */
.md-header-nav__title {
  padding-left: 0.3rem;
}
