# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage
/packages/epanet-js/coverage

# Networks
/packages/epanet-engine/tests/networks
/packages/epanet-js/test/benchmark/networks

# Typegen
/packages/epanet-engine/type-gen/epanet2_2.d.ts
/packages/epanet-engine/type-gen/epanet2_2.h
/packages/epanet-engine/type-gen/epanet2_enums.h

/packages/epanet-engine/dist/*
/packages/epanet-engine/build/*
/packages/epanet-js/dist/*
