{% extends "main.html" %} {% block content %}

<style>
  /* Hide Nav menu in content only */
  .md-sidebar--secondary {
    display: none;
  }
  @media screen and (min-width: 76.1875em) {
    .md-sidebar {
      display: none;
    }
  }

  .blog-card-content a,
  .blog-card-content a:hover,
  .blog-card-content a:focus {
    color: #000000de;
  }
  .blog-card-content h2 {
    margin: 0.8rem 0 0.8rem;
    font-weight: 700;
  }

  .blog-card-content p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .blog-card-content .blog-card-date {
    padding-top: 15px;
    margin-top: auto;
    text-align: right;
    font-weight: 100;
  }

  .md-content {
    max-width: 100%;
  }
  .blog-image-container .blog-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: 0.6s ease;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .blog-card:hover .blog-image {
    transform: scale(1.03);
  }
  .blog-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .blog-items {
    display: flex;
    flex-flow: row;
    justify-content: start;
    flex-wrap: wrap;
  }
  .blog-items .blog-card {
    border: none;
    padding: 0;
    width: calc(100% - 1em);
    margin: 1.5625em 0.5em;
  }
  .blog-card-content {
    display: flex;
    flex-direction: column;
    padding: 0 0.6rem;
  }

  /* [mobile portrait -]: Adjust headline */
  @media screen and (max-width: 30em) {
    /* Make main headline smaller */
    .tx-hero h1 {
      font-size: 1.4rem;
    }
  }

  @media screen and (min-width: 650px) {
    .blog-items .blog-card {
      width: calc(50% - 1em);
    }
  }

  @media screen and (min-width: 830px) {
    .blog-items .blog-card {
      width: calc(33.3333% - 1em);
    }
    .blog-card:nth-child(1) .blog-image-container {
      height: 350px;
      width: 66.6666%;
    }
    .blog-card:nth-child(1) .blog-card-content {
      width: 33.3333%;
      margin-bottom: 0;
      padding-left: 2em;
    }
  }

  @media screen and (min-width: 650px) {
    .blog-card:nth-child(1) {
      width: calc(100% - 1em);
      display: flex;
      flex-flow: row wrap;
    }
    .blog-card:nth-child(1) .blog-image-container {
      height: 350px;
      width: 50%;
    }
    .blog-card:nth-child(1) .blog-card-content {
      width: 50%;
      margin-bottom: 0;
      padding-left: 2em;
    }
    .blog-card:nth-child(1):hover .blog-image {
      transform: scale(1.02);
    }
    .blog-card:nth-child(1) .blog-image {
      height: 350px;
    }
  }
</style>

<h1>EPANET in JavaScript</h1>

<!-- Render item list -->
<section class="blog-items">
  {% for nav_item in nav %} {% if nav_item.active %} {% for nav_item in
  nav_item.children %} {% if nav_item.children %} {% for blog in
  nav_item.children %} {% include "partials/blog-item.html" %} {% endfor %} {%
  endif %}{% endfor %} {% endif %} {% endfor %}
</section>

<!-- Render item list -->

{% endblock %}
